.main{
    display:flex;
    justify-content: f;
    
    &-left{
        width: 200px;
        background-color: #da9393;
        margin-left: 15px;
    }
    &-right{
        align-items:flex-start;
    }
}