.letter{
    &-top{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 30px;
    }
    &-name{
        margin: 20px 0px 35px;
        font-size: 18px;
        font-weight: 700;
    }
   
    &-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
    }
}
